{% extends 'base.html' %}
{% block content %}

<h1>Customer</h1>
<a class="btn btn-primary" href="{% url 'CustomerCreateView'%}" role="button">Add Customer</a>
<a class="btn btn-primary" href="{% url 'customer_delete_all_view'%}" role="button">Delete all customers</a>
<table>
  <tr>
    <th>Name</th>
    <th>industry</th>
  </tr>
  {% for i in customer_list %}
  <tr>
    <td><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></td>
    <td><a href="{{ i.get_absolute_url }}">{{ i.industry }}</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}
