{% extends 'base.html' %}
{% block content %}
<!-- Warum wird vom folgenden Code nichts ausgegeben? -->
<!-- <p>{{ startpage.title }}</p>
{{ startpage.price }} -->
<p>{{ customer.name }}</p>
<p>{{ customer.industry }}</p>
<a class="btn btn-primary" href="{% url 'CustomerDeleteView' customer.id %}" role="button">Delete Customer</a>
<a class="btn btn-primary" href="{% url 'CustomerUpdateView' customer.id %}" role="button">Update Customer</a>

{% endblock content %}
