  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=".\static\bootstrap-4.3.1\css\bootstrap.min.css">
    <link rel="stylesheet" href=".\static\bootstrap-4.3.1\js\bootstrap.min.js">
    <link rel="stylesheet" href=".\static\fontawesome-free-5.12.1-web\css\all.css">
    <link rel="stylesheet" href=".\static\fontawesome-free-5.12.1-web\js\all.js">
    <link rel="stylesheet" href=".\static\jquery-3.4.1.min.js">
    <link rel="stylesheet" href=".\static\MDB-Free_4.13.0\css\mdb.min.css">
    <link rel="stylesheet" href=".\static\MDB-Free_4.13.0\css\mdb.css">

    <style>
      .rowCenter {
        text-align: center;
      }

      .roundy {
        border-radius: 20px;
      }

      .c1 {
        color: white;
      }

      .bg1 {
        background-color: #1b81e5;
      }

      body {
        background-color: #525f7f;
        /* font-family: "Lucida Console", Monaco, monospace; */
        /* color: black; */
      }

      .impressum {
        /* text-size: 7pt;
        font-size: 9pt; */

        color: black;
      }
    </style>

    <title>Project X</title>
    <div class="jumbotron jumbotron-fluid m-0 pb-0 pt-1 bg1">
      <div class="row pb-2 px-4">
        <div class="col">
          <button type="button" class="btn btn-sm float-right roundy" style="background-color: #525f7f; color: white;">Log out
          </button>
        </div>
      </div>
      <div class="container p-0">
        <div class="row">
          <div class="col">
            <h2 class="display-4" style="font-size: 85px; font-family: Asset; text-align: right;">Project X</h2>
            <p class="lead" style="font-size: 28px; font-family: Asset; text-align: right;"><i class="fas fa-cloud-showers-heavy mr-2"></i>Rainstorm Workaholics </p>
          </div>
        </div>
      </div>
    </div>


  </head>
