{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- form mit crispy forms layout helpers, viel weniger code im template, der
eigentliche Code ist in der forms.py -->
{% block content %}
{% crispy form %}


{% endblock content %}


<!-- form mit crispy form
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Save</button>
  </form> -->

<!-- form mit crispy forms für spezielles Feld
  <p>angepasste form für ein bestimmtes Feld</p>
  <form class="" action="" method="post">
    {{ form.title|as_crispy_field }}
  </form> -->

<!-- normales django
<form method="post"> {% csrf_token%}
  {{ form.as_p}}
<input type="submit" name="" value="Save">
</form> -->
