{% extends 'base.html' %}

{% block content %}
<form action='.' method='POST'>{% csrf_token %}
  <h1>Alle Produkte löschen?</h1>
  <p><input type='submit' value='yes' /> <a href='../'>Abbrechen</a></p>
</form>
{% endblock content %}
