{% extends 'base.html' %}
{% block content %}




<h1>Products</h1>
<a class="btn btn-primary" href="{% url 'ProductCreateView' %}" role="button">Produkt hinzufügen</a>
<a class="btn btn-primary" href="{% url 'product_delete_all_view' %}" role="button">Alle Produkte löschen</a>
<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
  </tr>
  {% for i in product_list %}
  <tr>
    <td><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></td>
    <td><a href="{{ i.get_absolute_url }}">{{ i.price }}</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}
