{% extends 'base.html' %}
{% block content %}
<!-- Warum wird vom folgenden Code nichts ausgegeben? -->
<!-- <p>{{ startpage.title }}</p>
{{ startpage.price }} -->
<p>{{ product.title }}</p>
<p>{{ product.price }}</p>
<a class="btn btn-primary" href="{% url 'ProductDeleteView' product.id %}" role="button">Delete Product</a>
<a class="btn btn-primary" href="{% url 'ProductUpdateView' product.id %}" role="button">Update Product</a>

{% endblock content %}
