{% extends 'base.html' %}

{% block content %}


  <div class="row">
    <div class="col-6 animated fadeInUpBig text-center">
      <div class="card roundy">
        <div class="card-body bg-dark roundy">
          <h5 class="card-title">Database</h5>
          <p class="card-text" style="color: white;">With supporting text below as a natural lead-in to additional content.</p>
          <button type="button" class="btn btn-lg btn-block roundy" href="#" style="background-color:#1b81e5; color:black;">Go</button>
        </div>
      </div>
    </div>
    <div class="col-6 animated fadeInUpBig text-center ">
      <div class="card roundy">
        <div class="card-body bg-dark roundy">
          <h5 class="card-title">FTP</h5>
          <p class="card-text" style="color: white;">With supporting text below as a natural lead-in to additional content.</p>
          <button type="button" class="btn btn-lg btn-block roundy" href="#" style="background-color:#1b81e5; color:black;">Go</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 pt-5">
    <div class="col text-left">
      <ul style="list-style-type: none;">
        <li>
          <a class="text-dark" href="impressum.html">Impressum</a>
        </li>
        <li>
          <a class="text-dark" href="datenschutz.html">Datenschutzerklärung</a>
        </li>
      </ul>
    </div>

  </div>


<h3>Django GmbH</h3>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="{% url 'ProductListView' %}" class="btn btn-primary">Products</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="{% url 'CustomerListView' %}" class="btn btn-primary">Customers</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
